<style>
    #container {
        width: 1000px;
        margin: 20px auto;
    }
</style>
<div id="container">
    <div>
        <a href="./cv">Edit</a>
    </div>
    <div>
        <div>Content:</div>
        <div>{{{content}}}</div>
    </div>
</div>